* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 12px;
}



/*MENÚ NAVEGACIÓN*/

.horizontal {
    position: sticky;
    top: 0;
    font-family: 'Kaisei HarunoUmi';
    font-size: 22px;
    border: 1px solid rgba(255, 147, 147, 0.82);
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 1000;
}

.horizontal li {
    display: inline-block;
    border-right: 1px solid rgba(255, 147, 147, 0.82);
    width: 300px;
    height: 75px; /*min-height es mejor*/
    text-align: center;
    vertical-align: middle;
}

.horizontal li:last-child {
    border-right: none;
    padding: 21px;
    width: 250px;
    height: 100px;
    font-size: 18px;
}

.horizontal li a {
    display: flex; /*aquí tuve que usar sí o sí flex porque sino no podía centrar los enlaces de texto*/
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    transition: color 0.3s, background-color 0.3s;
}

.horizontal li:first-child a {
    display: block;
}

.logo {
    max-width: 100%; 
    max-height: 100%;
}

.boton-sesion {
    background-color: #FFA0A1;
    border-radius: 5px;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.fa-regular{
    color: white;
    padding: 7px;
}

.horizontal li:last-child a{
    color: white;
}

.horizontal li:nth-last-child(2) { /*Para que no me aparezca el margin-right en el penúltimo elemento (niveles)*/
    border-right: none;
}

/*Hacemos los hover*/
.horizontal li:not(:first-child) a:hover {
    color: #FFA0A1;
    background-color: rgb(255, 255, 255, 0.82);
}

.horizontal li:not(:first-child) a:hover i {
    color: #FFA0A1;
    transition: color 0.3s, background-color 0.3s;
}

ul li a.active {
    text-decoration: underline; /*Para que cuando clickemos en una opcion, ésta se quede subrayada indicando que estamos en dicha opción*/
    font-weight: bold;
}



/*CABECERA*/

.cabecera1 {
    width: 100%;
    height: 200px;
    background-color: rgb(255,240,240);
    border: 1px solid rgba(224, 101, 102, 0.20);
    box-shadow: 0 4px 4px rgba(224, 101, 102, 0.15), inset 0 4px 4px rgba(224, 101, 102, 0.25);
    border-radius: 4px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorCabecera1{
    width: 65%;
    text-align: center;
}

.contenedorCabecera1 .titulo{
    font-family: "Kaisei HarunoUmi";
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}


/*CONTENIDO*/

.contenedorCentral{
    height: auto;
    width: 80%;
    margin-top: 40px;
    margin: 0 auto;
}

.contenedor1{
    text-align: center;
}

img[alt="consejos1"]{
    height: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.texto1{
    font-family: "Kaisei HarunoUmi";
    font-size: 20px;
    text-align: justify;
}

.texto2{
    font-family: "Kaisei HarunoUmi";
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}

.contenedor2{
    text-align: center;
}

.titulo1{
    font-family: "Kaisei HarunoUmi";
    font-size: 35px;
    margin-top: 70px;
    border-top: 1px solid rgb(224, 101, 102, 0.35);
    border-bottom: 1px solid rgb(224, 101, 102, 0.35);
    padding: 20px;
}

img[alt="consejos2"]{
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.texto3{
    font-family: "Kaisei HarunoUmi";
    text-align: justify;
    font-size: 20px;
}

.contenedor3{
    text-align: center;
}

.titulo2{
    font-family: "Kaisei HarunoUmi";
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(224, 101, 102, 0.35);
    border-bottom: 1px solid rgb(224, 101, 102, 0.35);
    padding: 20px;
}

img[alt="consejos3"]{
    height: 100px;
}

.texto4{
    font-family: "Kaisei HarunoUmi";
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
}




.contenedor4{
    text-align: center;
}

.titulo3{
    font-family: "Kaisei HarunoUmi";
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 30px;
    border-top: 1px solid rgb(224, 101, 102, 0.35);
    border-bottom: 1px solid rgb(224, 101, 102, 0.35);
    padding: 20px;
}

img[alt="consejos4"]{
    height: 100px;
}

.texto5{
    font-family: "Kaisei HarunoUmi";
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
}



.contenedor5{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.titulo4{
    font-family: "Kaisei HarunoUmi";
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(224, 101, 102, 0.35);
    border-bottom: 1px solid rgb(224, 101, 102, 0.35);
    padding: 20px;
}

.contenedorTelefono{
    display: flex;
    justify-content: space-around;
}

img[alt="consejos5"]{
    height: 100px;
}

.listaTelefonos{
    font-family: "Kaisei HarunoUmi";
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

/*PIE DE PÁGINA*/

footer {
    background-color: rgb(250,187,188, 0.85);
    font-family: "Inter";
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-areas: "listaContactos contenedorImagenes politica"
                                  "licencia licencia licencia";
    align-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
    grid-template-columns: 0.2fr 0.15fr 0.15fr;
    border-radius: 4px;
}

.listaContactos {
    grid-area: listaContactos;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.contenedorImagenes{
    grid-area: contenedorImagenes;
}

.politica{
    grid-area: politica;
}

.listaContactos li {
    margin-bottom: 15px;
}

footer div {
    margin: 10px;
}

footer h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

footer a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

.contenedorImagenes img{
    width: 32px;
    margin: 0 5px;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.contenedorImagenes img:hover{
    width: 35px; /*aumenta el tamaño del icono al pasar por encima de el*/
}

.contenedorImagenes img:active{
    transform: scale(0.8); /*así hacemos que al hacer click disminuya un poco el tamaño del icono, lo que da un efecto de hacer click fisicamente*/
}

.licencia {
    grid-area: licencia;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.politica:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1800px) and (min-width: 1527px){
    .horizontal li{
        width: 250px;
    }

    .contenedorImagenes img{
        width: 25px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 32px;
    }
}

@media screen and (max-width: 1526px) and (min-width: 1327px){
    .horizontal li{
        width: 210px;
    }
    
    .horizontal{
        font-size: 20px;
    }

    .contenedorImagenes img{
        width: 18px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 30px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 18px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 32px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 90px;
    }

    .horizontal li:last-child {
        width: 220px;
        height: 90px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1326px) and (min-width: 1229px){
    .horizontal li{
        width: 190px;
    }

    .horizontal{
        font-size: 18px;
    }

    .contenedorImagenes img{
        width: 14px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 28px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 18px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 32px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 90px;
    }

    .horizontal li:last-child {
        width: 220px;
        height: 90px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1228px) and (min-width: 1129px){
    .horizontal li{
        width: 170px;
    }

    .horizontal{
        font-size: 16px;
    }

    .contenedorImagenes img{
        width: 10px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 26px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 16px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 30px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 80px;
    }

    .horizontal li:last-child {
        width: 210px;
        height: 90px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1128px) and (min-width: 1027px){
    .horizontal li{
        width: 150px;
    }

    .horizontal{
        font-size: 14px;
    }

    .contenedorImagenes img{
        width: 10px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 24px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 16px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 28px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 80px;
    }

    .horizontal li:last-child {
        width: 210px;
        height: 90px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1026px) and (min-width: 927px){
    .horizontal li{
        width: 130px;
    }

    .horizontal{
        font-size: 12px;
    }

    .contenedorImagenes img{
        width: 10px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 22px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 14px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 26px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 70px;
    }

    .horizontal li:last-child {
        width: 200px;
        height: 80px;
        font-size: 10px;
    }
}

@media screen and (max-width: 926px) and (min-width: 827px){
    .horizontal li{
        width: 110px;
    }

    .horizontal li{
        font-size: 12px;
    }

    .contenedorImagenes img{
        width: 10px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 20px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 14px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 24px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 70px;
    }

    .horizontal li:last-child {
        width: 200px;
        height: 80px;
        font-size: 10px;
    }
}

@media screen and (max-width: 826px){
    .horizontal li{
        width: 80px;
    }

    .horizontal li{
        font-size: 10px;
    }

    .contenedorImagenes img{
        width: 10px;
    }

    .contenedorCabecera1 .titulo{
        font-size: 20px;
    }

    .texto1, .texto2, .texto3, .texto4, .listaTelefonos{
        font-size: 12px;
    }

    .titulo1, .titulo2, .titulo3, .titulo4{
        font-size: 22px;
    }

    img[alt="consejos1"], img[alt="consejos2"], img[alt="consejos3"], img[alt="consejos4"], img[alt="consejos5"]{
        height: 60px;
    }

    .horizontal li:last-child {
        width: 195px;
        height: 80px;
        font-size: 10px;
    }
}
