.lista2 > li{
    padding: 8px;
    text-align: center;
    background-color: rgb(199, 191, 191);
    display: inline-block;
    width: 80px;
    height: 30px;
    
}



.lista1 > li{
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 191, 191);
    display: block;
    width: 150px;
    height: 40px;
    
}

li:hover{

}