*{
    box-sizing: border-box;
}
.par1{
    color: #2d6921;
    border: 3px dotted #d66f0f;
    width: 500px;
    border-radius: 20px;
    text-align: right;
    margin-bottom: 100;
}
.par2{
    border: 3px solid blue;
    width: 500px;
    margin: 0px auto;
    padding: 50px;
    font-style: italic;
}
.par3{
    width: 30%;
    border: 6px outset #666;
    padding: 10px;
    text-align: justify;
    line-height: 30px;
}
.par4{
    width: 75%;
    border-top: 3px solid #f0377b;
}