.general {
    width: 800px;
    height: 600px;
    position: relative;
}

div div {
    position: absolute;
}

.rojo {
    width: 50px;
    height: 500px;
    background-color: red;
    top: 50px;
    left: 0;
}

.naranja {
    width: 800px;
    height: 50px;
    background-color: orange;
    top: 0;
    left: 0;
}

.verde {
    width: 50px;
    height: 500px;
    background-color: green;
    top: 50px;
    right: 0;
}

.purpura {
    width: 800px;
    height: 50px;
    background-color: purple;
    bottom: 0;
    left: 0;
}

.azul {
    width: 700px;
    height: 500px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 50px;
}