
li {
    display: inline;
    width: 50px;
    height: 300px;
}

ul {
    width: 800px;
    height: 600px;
    list-style-type: none;
    background-color: blue;
    position: relative;
    border-top: 50px solid orange;
    border-bottom: 50px solid purple;
}

ul::before, ul::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
}

ul::before {
    left: -20px;
    background-color: red;
}

ul::after {
    right: -20px;
    background-color: green;
}
